<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>amokoivan@gmail.com / 0705531898</param-value>
    </context-param>
    <servlet>
        <servlet-name>uploadinfo</servlet-name>
        <servlet-class>kanyenet.uploadinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesRegister</servlet-name>
        <servlet-class>kanyenet.SalesRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesLogin</servlet-name>
        <servlet-class>kanyenet.SalesLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>kanyenet.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCreator</servlet-name>
        <servlet-class>kanyenet.SessionCreator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sales</servlet-name>
        <servlet-class>kanyenet.Sales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>kanyenet.AdminDashboard</servlet-class>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>version 1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SalesDashBoard</servlet-name>
        <servlet-class>kanyenet.SalesDashBoard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadinfo</servlet-name>
        <url-pattern>/uploadinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesRegister</servlet-name>
        <url-pattern>/SalesRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesLogin</servlet-name>
        <url-pattern>/SalesLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCreator</servlet-name>
        <url-pattern>/SessionCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sales</servlet-name>
        <url-pattern>/Sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesDashBoard</servlet-name>
        <url-pattern>/SalesDashBoard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
